version: "3.9"

services:
  app:
    build: .
    container_name: game-app
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - postgres
    volumes:
      - .:/app
    command: python app.py

  postgres:
    image: postgres:15
    restart: unless-stopped
    container_name: game-postgres
    environment:
      POSTGRES_USER: BRAHIM
      POSTGRES_PASSWORD: "0000"
      POSTGRES_DB: chatbot_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./initdb:/docker-entrypoint-initdb.d



volumes:
  postgres_data:
    name: postgres_data
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /Users/bouhammo/data